---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import {
  ABOUT_TITLE,
  SITE_TITLE,
  SITE_DESCRIPTION,
  BLOG_MYPROJECT,
  BLOG_FORMLOGIN,
  FORMLOGIN_1,
  FORMLOGIN_2,
  FORMLOGIN_3,
  BLOG_PORTO,
  PORTO_1,
  PORTO_2,
  HTML,
  CSS,
  ASTRO,
} from "../../consts";
import { Image } from "astro:assets";

import loginImage from "../../image/loginnn.png";
import webImage from "../../image/web.png";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={ABOUT_TITLE} description={SITE_DESCRIPTION} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h3 class="animate__animated animate__fadeInUp">{BLOG_MYPROJECT}</h3>
      <strong class="animate__animated animate__fadeInUp"
        >{BLOG_FORMLOGIN}</strong
      >
      <br />
      <div class="animate__animated animate__fadeInUp">
        {FORMLOGIN_1}<strong class="animate__animated animate__fadeInUp"
          >{HTML}</strong
        >{FORMLOGIN_2}
        <strong class="animate__animated animate__fadeInUp">{CSS}</strong>{
          FORMLOGIN_3
        }
      </div>
      <br />
      <div class="gambar animate__animated animate__fadeInUp">
        <Image
          src={loginImage}
          alt="loginimage"
          style="width: 400px; height: 500px; float: center; display: block; margin: 0 auto;"
        />
      </div>
      <br />
      <strong class="animate__animated animate__fadeInUp">{BLOG_PORTO}</strong>
      <br />
      {PORTO_1}<strong class="animate__animated animate__fadeInUp"
        >{ASTRO}</strong
      >{PORTO_2}<br />
      <div class="gambar animate__animated animate__fadeInUp">
        <Image
          src={webImage}
          alt="webimage"
          style="width: 350px; height: 500px; float: center; display: block; margin: 0 auto;"
        />
      </div>
      <br />
    </main>
    <br />
    <br />

    <p>
      <style>
        .container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          height: 50%;
        }

        .gambar {
          background-color: #fff;
          padding: 10px;
          overflow: hidden;
        }

        .gambar img {
          width: 100%;
          height: auto;
          margin: 0 auto;
          transition: transform 0.3s ease-in-out;
        }

        .gambar:hover img {
          transform: scale(1.1);
        }

        .contact-container {
          display: flex;
          align-items: center;
        }

        .instagram-icon {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }

        .keterampilann {
          text-align: left;
          color: black;
          font-size: 18px;
        }
        .username {
          margin-top: -4px;
          font-size: 18px;
          color: black;
        }
      </style>
    </p>

    <Footer />
  </body>
</html>
